.div {
    margin-left: 10%;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.element {
    border: 2px solid black;
}

.divflex {
    display: flex;
}

.p {
    text-align: center;
}
